a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    background: url(./bg.jpg) no-repeat center;
    background-size: cover;
    /* min-height: 100vh; */

}

/* phone layout  */
.phone{
     background: url(./bg.jpg) no-repeat center;
    background-size: cover;
}
.phone::-webkit-scrollbar{
    display: none;
}

/* homescreen */
.slider{
    width: 100%;
   appearance: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb {
 
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: radial-gradient(rgb(236, 102, 236), rgb(145, 9, 9));
}

#label{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: slideAnimation 3s ease-in-out infinite;
}

@keyframes slideAnimation {
    0%,100%{
            color: black;
            filter: drop-shadow(0 0 10px purple);
    }
    50%{
            color: purple;
            filter: drop-shadow(0 0 10px purple);
    }
}

.header i{
    right: 10px;
}
.appScreen{
    cursor: pointer;
}